*{
    box-sizing: border-box;
}


#sidebar{
    width: 400px;
}

#logo{
    width: 150px;
}

.showcase{
    background-image: linear-gradient(120deg, #155799, #159957);
    min-height:400px;
}

#title{
    font-size: 70px;
}

.secondary-text{
    color: #c3c3c3;
}

.link{
    text-decoration: none;
    color: #c3c3c3;
}

.link:hover{
    color: #e2e2e2;
    text-decoration: underline;
}

.footer-logo{
    width: 30%;
}

.video{
    height: 100%;
}

.drop-area{
    border-radius: 5px;
    border-style: dashed;
    height: 313px;
    position: relative;
    overflow: scroll;
    
}

.drag-text{
    text-align: center;
    position: absolute;
    left: 45px;
    right: 45px;
    top: 110px;

}

.drag-button{
    background-color:#155799;
    color: white;
    width: 49%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

#toc{
    position: fixed;
    height: 100vh;
    overflow: auto;
}

.main-tag{
    position: absolute;
    color: lightcoral;
    border: lightcoral solid;
    border-radius: 5px;
    padding: 0.25rem;
    width: 100px;
}

.alt-tag{
    position: absolute;
    color: lightslategray;
    border: lightslategray solid;
    border-radius: 5px;
    padding: 0.25rem;
    width: 100px;
}

.row-height{
    height: 100px;
}


.column {
    flex: 1;
    margin: 0 100px; /* Espacio horizontal entre cada columna */
    text-align: center;
}



#response{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}


.options{
    border-bottom: rgb(151, 151, 151) solid 1px;
}


.btn {
    background-color: blue;
    color: white;
}

.btn:hover {
    background-color: rgb(173, 230, 204); /* Cambiar el color de fondo cuando el mouse está sobre el botón */
}

.selected{
    background-color: white;
    border: rgb(151, 151, 151) solid 1px;
}

.tabulacion:first-letter {
	margin-left: 15px;
}
.tabulacion2:first-letter {
	margin-left: 30px;
}
.black-letter {
	font-weight: bold;
}
.contenedor-imagenes {
    display: flex;
}
.contenedor-imagenes img:first-child {
    margin: right;
}

.image{
    max-width: 100%;
    width: 225px;
    height: 225px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    margin: auto;
}

#imageOEG{
    max-width: 100%;
    width: 225px;
    height: 225px;
}

.image-caption{
    margin: 20px;
    padding: 5px;
}

div.img{
    display:table;
}

div.img span{
    line-height:normal;
    font-size:20px;
    display:table-caption;
    margin:0;
    font-style:italic;
    padding:5px;
    text-align:center;
}

.job-title{
    color:#155799;
}

.job-title-2{
    text-align:center;
    font-weight: bold;
}

.imagen-pequena {
    width: 70px;
    height: 70px;
}

.navbar-nav li {
    transition: all 0.3s ease;
}
.navbar-nav li:hover {
    transform: translateY(-3px); 
}




.modal {
    display: none; /* Oculta la ventana modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #f9f9f9; /* Color de fondo de la ventana modal */
    margin: 10% auto; /* Centra la ventana modal verticalmente */
    padding: 20px;
    border: 1px solid #ccc;
    width: 50%; /* Define el ancho de la ventana modal */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Sombra */
}

/* Estilo para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Estilo para el botón "Done" */
#modal-submit {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Texto en color blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Cambia el color de fondo del botón al pasar el cursor por encima */
#modal-submit:hover {
    background-color: #45a049; /* Color de fondo verde más oscuro */
}

/* Cambia el color de fondo del botón al hacer clic */
#modal-submit:active {
    background-color: #36793e; /* Color de fondo verde más oscuro */
}

.instructions {
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 20px; /* Espacio inferior */
    text-align: justify; /* Justificar texto */
}

.instructions li {
    margin-bottom: 10px; /* Espacio entre elementos de lista */
}

.step-row {
    border-bottom: 5px solid #ffffff; /* Establece el grosor y color del borde */
    margin-bottom: 20px; /* Agrega un margen inferior entre las filas */
}

.img-border {
    border: 2px solid #ffffff; /* Establece un borde blanco de 2 píxeles */
    border-radius: 5px; /* Agrega esquinas redondeadas al borde */
}





