<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>OntoDrop Patterns</title>

</head>
<body>

<!--Navbar-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img id="logo" src="static/images/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto fw-bold" style="font-size: 18px;">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="howtouse.html">How to use?</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="examples.html">Examples</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" href="about.html">About</a>
                    </li>
                </ul>
                <a href="https://github.com/Extruro/OntoDrop-Patterns" target="_blank"><i class="bi bi-github h3 text-dark"></i></a> 
            </div>
        </div>
    </nav>
</header>

<a href="#top" class="blue-btn position-fixed" style="bottom: 20px; right: 20px;">
    <i class="bi bi-arrow-up"></i>
</a>
<div id="top"></div>

<!-- About Section -->
<section class="about-section">
    <div class="container">
  
      <h3>About OntoDrop Patterns</h3>
      <p>The purpose of this website is to improve the usability of an ontological design pattern 
          identification system. Despite the importance of patterns in the construction of ontologies, 
          there is currently a great lack of open and accessible tools that facilitate the systematic
           identification and generation of these patterns. Our tool will facilitate the identification and 
           extraction of patterns from a collection of ontologies.</p>
      
      <h3>Technologies used</h3>
      <div class="row">
          <div class="col-md-6">           
              <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Python</li>
                  <li>Visual Studio Code</li>
              </ul>
          </div>
          <div class="col-md-6">
              <ul>
                  <li>Flask</li>
                  <li>JavaScript</li>
                  <li>Bootstrap</li>
                  <li>GitHub</li>
              </ul>
          </div>
      </div>    
      
      <h3>Team</h3>
      <div class="row">
          <div class="col-md-12">
              <ul>
                  <li>María Poveda-Villalón</li>
                  <li>Sergio-Mario Carulli-Pérez</li>
                  <li>Antonio Jiménez Panduro</li>
              </ul>
          </div>
      </div>
  
    </div>
  </section>

<!--Footer-->
<footer class="footer py-2">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <img id="logo" src="static/images/logo.png" alt="Logo">             
            </div>
            <div class="col-3 ms-auto" style="margin-top: 20px;">
                <a href="https://oeg.fi.upm.es/" target="_blank"><img class="footer-logo" src="static/images/oeg-logo.gif" alt=""></a>
                <a id="fi-logo" href="https://www.fi.upm.es/" target="_blank"><img class="footer-logo" src="static/images/fi-logo.png" alt=""></a>
                <a href="https://www.upm.es/" target="_blank"><img class="footer-logo" src="static/images/upm-logo.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
