<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css/style.css">

    <title>OntoDrop Patterns</title>

</head>
<body>

    <a href="#top" class="blue-btn position-fixed" style="bottom: 20px; right: 20px;">
        <i class="bi bi-arrow-up"></i>
    </a>
    <div id="top"></div>


<!--Navbar-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img id="logo" src="static/images/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto fw-bold" style="font-size: 18px;">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="howtouse.html">How to use?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="examples.html">Examples</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>
                <a href="https://github.com/Extruro/OntoDrop-Patterns" target="_blank"><i class="bi bi-github h3 text-dark"></i></a> 
            </div>
        </div>
    </nav>
</header>

<section class="about-section bg-dark text-white py-5">
    <div class="container">
        <!-- Fila para cada paso -->
        <div class="row step-row">
            <!-- Primer paso -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="step-box bg-dark-gray text-white text-center p-4">
                    <h3 class="text-primary">Prepare files</h3>
                    <p class="mb-0">The first step is to have the ontologies ready in a zip file if we have them locally or in a csv file with the name and URI in case we want to download them.</p>
                </div>
            </div>
            <!-- Imagen del primer paso -->
            <div class="col-md-6 col-lg-8 mb-4">
                <img src="static/images/Fichero csv.png" alt="Step 1" class="img-fluid float-end img-border my-3" style="max-width: 300px;">
                <img src="static/images/Fichero zip.png" alt="Step 1" class="img-fluid float-end me-3 img-border my-3" style="max-width: 400px;">
            </div>
                       
        </div>
        

        <div class="row my-5 step-row">
            <!-- Segundo paso -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="step-box bg-dark-gray text-white text-center p-4">
                    <h3 class="text-primary">Attach the file</h3>
                    <p class="mb-0">Once the ontology file is ready, the next step is to attach the file to the service box. This can be done in two ways. The first is by dragging and dropping into the box and the second is by clicking inside the box and choosing the file.</p>
                </div>
            </div>
            <!-- Imagen del segundo paso -->
            <div class="col-md-6 col-lg-8 mb-4">
                <img src="static/images/Soltando archivo.png" alt="Step 1" class="img-fluid float-end me-3 img-border my-3" style="max-width: 300px;">
                <img src="static/images/Drag and Drop.png" alt="Step 1" class="img-fluid float-end me-3 img-border my-3" style="max-width: 300px;">             
            </div>
        </div>

        <div class="row my-5 step-row">
            <!-- Tercer paso -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="step-box bg-dark-gray text-white text-center p-4">
                    <h3 class="text-primary">Choose options</h3>
                    <p class="mb-0">When you attach the file, you will get a window to choose two optional parameters depending on what you want to do.</p>
                    <p class="mb-0">-Patterns: is a flag to indicate if the patterns are going to be created from the type of the terms or from the name of the terms or from both.</p>
                    <p class="mb-0">-Flatten: is a flag to indicate if the collections are going to be flattened if they only contain named classes.</p>
                </div>
            </div>
            <!-- Imagen del tercer paso -->
            <div class="col-md-6 col-lg-8 mb-4">
                <img src="static/images/Choose Options Flatten.png" alt="Step 1" class="img-fluid float-end me-3 img-border my-3" style="max-width: 350px;">                         
                <img src="static/images/Choose Options Patterns.png" alt="Step 1" class="img-fluid float-end me-3 img-border my-3" style="max-width: 350px;">             
            </div>
        </div>

        <div class="row my-5 step-row">
            <!-- Cuarto paso -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="step-box bg-dark-gray text-white text-center p-4">
                    <h3 class="text-primary">Transforming ontology</h3>
                    <p class="mb-0">Once the options have been chosen, click on the Submit button to start the transformation. The next step is to wait until "SUCCESSFULLY COMPLETED" appears and our zip result will be ready to download it by clicking on the "Download Pattern" button.</p>
                </div>
            </div>
            <!-- Imagen del cuarto paso -->
            <div class="col-md-6 col-lg-8 mb-4">
                <img src="static/images/Completed.png" alt="Step 1" class="img-fluid float-end me-3 img-border my-3" style="max-width: 300px;">  
                <img src="static/images/Transforming ontology.png" alt="Step 1" class="img-fluid float-end me-3 img-border my-3" style="max-width: 300px;">                                                  
            </div>
        </div>

        <div class="row my-5">
            <!-- Quinto paso -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="step-box bg-dark-gray text-white text-center p-4">
                    <h3 class="text-primary">Results</h3>
                    <p class="mb-0">When you click on the "Download Pattern" button, you will download "patterns.zip" containing the results with the patterns.</p>
                </div>
            </div>
            <!-- Imagen del quinto paso -->
            <div class="col-md-6 col-lg-8 mb-4">
                <img src="static/images/output.png" alt="Step 1" class="img-fluid float-end img-border my-3" style="max-width: 300px;">                         
                <img src="static/images/Descarga.png" alt="Step 1" class="img-fluid float-end me-3 img-border my-3" style="max-width: 300px;">            
            </div>
            
        </div>

    </div>

    

    </div>
</section>









<!--Footer-->
<footer class="footer py-2">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <img id="logo" src="static/images/logo.png" alt="Logo">             
            </div>
            <div class="col-3 ms-auto" style="margin-top: 20px;">
                <a href="https://oeg.fi.upm.es/" target="_blank"><img class="footer-logo" src="static/images/oeg-logo.gif" alt=""></a>
                <a id="fi-logo" href="https://www.fi.upm.es/" target="_blank"><img class="footer-logo" src="static/images/fi-logo.png" alt=""></a>
                <a href="https://www.upm.es/" target="_blank"><img class="footer-logo" src="static/images/upm-logo.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>



</body>
</html>
