<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css/style.css">

    <title>OntoDrop Patterns</title>

</head>
<body>

    <a href="#top" class="blue-btn position-fixed" style="bottom: 20px; right: 20px;">
        <i class="bi bi-arrow-up"></i>
    </a>
    <div id="top"></div>
    

    <!--Navbar-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img id="logo" src="static/images/logo.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto fw-bold" style="font-size: 18px;">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="howtouse.html">How to use?</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" href="examples.html">Examples</a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                    </ul>
                    <a href="https://github.com/Extruro/OntoDrop-Patterns" target="_blank"><i class="bi bi-github h3 text-dark"></i></a> 
                </div>
            </div>
        </nav>
    </header>
    
        


    <!--Showcase-->
    <section class="showcase pt-5 px-5 text-light">
        <div class="container text-center pt-5"> 
            <h1 id="title" class="pt-4 pb-2">OntoDrop Patterns</h1>
            <p class="lead pb-3">OntoDrop identify and extract patterns from a collection of ontologies.</p>
            <!--<div class="py-1">
                <p class="fw-bold mb-1">Contact:</p>
                <p>María Poveda-Villalón <br>
                    Contact email: chowlk@delicias.dia.fi.upm.es</p>
            </div>
            <div class="py-1">
                <p class="fw-bold mb-1">Authors:</p>
                <p class="px-3 secondary-text">
                    <a class="link" href="https://thepetiteontologist.wordpress.com/" target="_blank">
                        María Poveda-Villalón
                    </a> 
                    (<a class="link" href="https://oeg.fi.upm.es/" target="_blank">Ontology Engineering Group</a>, <a class="link" href="https://www.upm.es/" target="_blank">Universidad Politécnica de Madrid)</a><br>

                    <a class="link" href="http://www.garcia-castro.com/" target="_blank">
                        Raúl García-Castro
                    </a> 
                    (<a class="link" href="https://oeg.fi.upm.es/" target="_blank">Ontology Engineering Group</a>, <a class="link" href="https://www.upm.es/" target="_blank">Universidad Politécnica de Madrid)</a><br>
                    
                    <a class="link" href="https://www.linkedin.com/in/sergio-mario-carulli-p%C3%A9rez-7632b5217/" target="_blank">
                        Sergio-Mario Carulli-Pérez
                    </a> 
                    (<a class="link" href="https://oeg.fi.upm.es/" target="_blank">Ontology Engineering Group</a>, <a class="link" href="https://www.upm.es/" target="_blank">Universidad Politécnica de Madrid)</a><br>

                    <a class="link" href="https://www.linkedin.com/in/serge-chavez-feria/" target="_blank">
                        Serge Chávez-Feria
                    </a> 
                    (<a class="link" href="https://oeg.fi.upm.es/" target="_blank">Ontology Engineering Group</a>, <a class="link" href="https://www.upm.es/" target="_blank">Universidad Politécnica de Madrid)</a>
                </p>
            </div> -->
        </div>
    </section>

    <!--Instructions-->
    <!-- <section class="content pt-5 px-5">
        <div class="container">
            <h4>Instructions</h4>
            <ol>
                <li>Download the Chowlk template (<a class="link-primary" href="static/resources/chowlk-library-complete.xml" download="chowlk-library-complete">complete</a> or <a class="link-primary" href="static/resources/chowlk-library-lightweight.xml" download="chowlk-library-lightweight">lightweight</a> version).</li>
                <li>Open diagrams.net (web or desktop)</li>
                <li>In diagrams.net go to  File > Open Library from > Device ...</li>
                <li>Select the library downloaded.</li>
                <li>Make your conceptualization using the block that will appear on the side bar.</li>
                <li>Download the diagram in xml format.</li>
                <li>Drag and drop your model in the Service dropping area and download your TTL file.</li>
            </ol>

        </div>
    </section> -->


    <!--Service-->
    <section class="content pt-2 px-5" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="container">
            <div class="row pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 pt-2">
                            <h4 class="mb-4">Steps to follow</h4>
                            <ol class="instructions">
                                <li>
                                    <span class="step-number">1</span> Prepare the ontology or set of ontologies you want to transform.
                                </li>
                                <li>
                                    <span class="step-number">2</span> They must be inside a <strong>.zip</strong> file or in <strong>.csv.</strong>
                                </li>
                                <li>
                                    <span class="step-number">3</span> Perform step <strong>1)Choose options.</strong>
                                </li>
                                <li>
                                    <span class="step-number">4</span> You must have both options filled in.
                                </li>
                                <li>
                                    <span class="step-number">5</span> Then go to step <strong>2)Upload your ontologies here.</strong>
                                </li>
                                <li>
                                    <span class="step-number">6</span> Attach your file with the ontologies and click <strong><span style="color: green;">Submit.</span></strong>
                                </li>
                                <li>
                                    <span class="step-number">7</span> Wait until <strong><span style="color: green;">Download Patterns</span></strong> button is green.

                                </li>
                                <li>
                                    <span class="step-number">8</span>  Now you can download your patterns in a <strong>.zip</strong> file.

                                </li>
                                <li>
                                    <span class="step-number">+</span> If you need more information about using the tool, click <u><a href="howtouse.html">here</a></u>.
                                </li>
                            </ol>
                        </div>
                        
                        
                        <!-- Columna izquierda para Patterns y Flatten -->
                        <div class="col-lg-6 pt-2 text-center">
                            <div class="options-container">
                                <h4 class="mb-4">1) Choose options</h4>
                                <div class="row pt-3 justify-content-center">
                                    <!-- Columna para Patterns -->
                                    <div class="col-lg-6 text-center">
                                        <div style="display: flex; align-items: center; justify-content: center;">
                                            <h5 class="explanation-trigger-patterns" data-target="explanation-content-patterns">Patterns</h5>
                                            <div class="info-icon" id="patterns-info-icon">i</div>
                                        </div>
                                        <div class="form-group">
                                            <input type="radio" id="pattern1Radio" name="patternOption">
                                            <label for="pattern1Radio" class="radio-label">Type</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="radio" id="pattern2Radio" name="patternOption">
                                            <label for="pattern2Radio" class="radio-label">Name</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="radio" id="pattern3Radio" name="patternOption">
                                            <label for="pattern3Radio" class="radio-label">Both</label>
                                        </div>
                                    </div>
                                    <!-- Columna para Flatten -->
                                    <div class="col-lg-6 text-center">
                                        <div style="display: flex; align-items: center; justify-content: center;">
                                            <h5 class="explanation-trigger-flatten" data-target="explanation-content-flatten">Flatten</h5>
                                            <div class="info-icon" id="flatten-info-icon">i</div>
                                        </div>  
                                        <div class="form-group">
                                            <input type="radio" id="flatten1Radio" name="flattenOption">
                                            <label for="flatten1Radio" class="radio-label">No</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="radio" id="flatten2Radio" name="flattenOption">
                                            <label for="flatten2Radio" class="radio-label">Yes</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  


            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h4 class="mb-4 text-center">2) Upload your ontologies here</h4>
                    <div class="drop-area text-center" id="drag-drop-area">
                        <p class="lead text-dark drag-text" id="drag-text">Drag and drop your ontology or click to choose your file</p>
                        <i id="loadingSpinner" class="spinner-border text-primary" style="display: none; margin-top: 80px; margin-left: auto; margin-right: auto;" role="status">
                            <span class="sr-only">Loading...</span>
                        </i>
                        <div id="response" style="display: none;"></div>
                        <input type="file" id="fileElem" style="display: none;">
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <button class="btn drag-button" id="submit" disabled>Submit</button>
                        <button class="btn drag-button" id="download" disabled>Download Patterns</button>
                    </div>
                </div>
            </div>
        </div>          
        
    </section>

   
    

    
<!-- Ventana modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <h2>The options have not been selected</h2>
        <p>Please select one option for <strong>Patterns</strong> and one for <strong>Flatten</strong>.</p>
        <div class="info-container">
            <span class="info-icon" id="patterns-info">i</span>          
            <label for="patterns">Patterns:</label>
            <select id="patterns">
                <option value="type">Type</option>
                <option value="name">Name</option>
                <option value="both">Both</option>
            </select>
        </div>
        <br>
        <div class="info-container">
            <span class="info-icon" id="flatten-info">i</span>
            <label for="flatten">Flatten:</label>
            <select id="flatten">
                <option value="no">No</option>
                <option value="yes">Yes</option>               
            </select>
        </div>
        <br>
        <button id="modal-submit">Save</button>
        <button id="go-back">Go back</button>
    </div>
</div>

<!-- Ventana modal +info Patterns -->
<div id="infoPatterns" class="modal">
    <div class="modal-content2">
        <div class="info-container">
            <h2>Patterns Option. <span class="small-text">Describe how classes are structured in your ontology.</span></h2>
            <p>The different outputs depending on the <strong>patterns</strong>: 
                <select id="patterns2">
                    <option value="type">Type</option>
                    <option value="name">Name</option>
                    <option value="both">Both</option>
                </select>
            </p>
        </div>
        <br>
        <div class="code-container">
            <div class="code-fragment">
                <div class="code-title">Type</div>
                <div class="code-box">
                    <pre><code>
                        <span class="input-indicator">// INPUT</span>
                        saref:Measurement rdf:type owl:Class ;
                        rdfs:subClassOf [ rdf:type owl:Restriction ;
                            owl:onProperty saref:relatesToProperty ;
                            owl:qualifiedCardinality "1"^^xsd:nonNegativeInteger ;
                            owl:onClass saref:Property
                            ]

                       
                        saref:Measurement rdf:type owl:Class ;
                        rdfs:subClassOf [ rdf:type owl:Restriction ;
                            owl:onProperty saref:isMeasuredIn ;
                            owl:qualifiedCardinality "1"^^xsd:nonNegativeInteger ;
                            owl:onClass saref:UnitOfMeasure
                            ]
                            
                    </code></pre>
                </div>
                <div class="arrow">&#8595;</div>
                <div class="code-box">
                    <pre><code>
                        <span class="input-indicator">// OUTPUT</span>
                        Pattern 5
                        owl:Class
                          |rdfs:subClassOf
                          |  |owl:Restriction
                          |  |  |owl:onClass
                          |  |  |  |owl:Class
                          |  |  |owl:onProperty
                          |  |  |  |owl:ObjectProperty
                          |  |  |owl:qualifiedCardinality
                          |  |  |  |Data value
                    </code></pre>
                </div>
            </div>
            <div class="code-fragment">
                <div class="code-title">Name</div>
                <div class="code-box">
                    <pre><code>
                        <span class="input-indicator">// INPUT</span>
                        saref:Measurement rdf:type owl:Class ;
                        rdfs:subClassOf [ rdf:type owl:Restriction ;
                            owl:onProperty saref:relatesToProperty ;
                            owl:qualifiedCardinality "1"^^xsd:nonNegativeInteger ;
                            owl:onClass saref:Property
                          ]
                    </code></pre>
                </div>
                <div class="arrow">&#8595;</div>
                <div class="code-box">
                    <pre><code>
                        <span class="input-indicator">// OUTPUT</span>
                        Pattern 2
                        saref:Measurement
                          |rdfs:subClassOf
                          |  |owl:Restriction
                          |  |  |owl:onClass
                          |  |  |  |saref:Property
                          |  |  |owl:onProperty
                          |  |  |  |saref:relatesToProperty
                          |  |  |owl:qualifiedCardinality
                          |  |  |  |Data value ["1"^^xsd:nonNegativeInteger]
                    </code></pre>
                </div>
            </div>
        </div>
        <div>
            <button id="modal-submit2">Save</button>
            <button id="go-back2">Go back</button>
        </div>
    </div>
</div>





 <!-- Ventana modal +info Flatten-->
<div id="infoFlatten" class="modal">
    <div class="modal-content2">
        <h2>Flatten Option. <span class="small-text">Indicates whether collections containing only named classes should be flattened.</span></h2>
        <p>The different outputs depending on the <strong>flatten</strong>:
            <select id="flatten2">
            <option value="no">No</option>
            <option value="yes">Yes</option>               
            </select> 
        </p>
        <div class="info-container">
            <!--<span class="info" id="flatten-info" title="Information">&#9432;</span>-->                
        </div>
        <br>
        <div class="code-container">
            <div class="code-fragment2">
                <div class="code-title">No Flatten</div>
                <div class="code-box">
                    <pre><code>
                        <span class="input-indicator">// INPUT</span>
                        s4bldg:BuildingSpace rdfs:subClassOf [ rdf:type owl:Restriction ;
                                       owl:onProperty s4bldg:isSpaceOf ;
                                       owl:allValuesFrom [ rdf:type owl:Class ;
                                                           owl:unionOf ( s4bldg:Building
                                                                         s4bldg:BuildingSpace
                                                                       )
                                                         ]
                                     ]
                    </code></pre>
                </div>
                <div class="arrow">&#8595;</div>
                <div class="code-box">
                    <pre><code>
                        <span class="input-indicator">// OUTPUT</span>
                        Pattern 16
                        owl:Class
                        |rdfs:subClassOf
                        |  |owl:Restriction
                        |  |  |owl:allValuesFrom
                        |  |  |  |owl:Class
                        |  |  |  |  |owl:unionOf
                        |  |  |  |  |  |rdf:List
                        |  |  |  |  |  |  |rdf:first
                        |  |  |  |  |  |  |  |owl:Class
                        |  |  |  |  |  |  |rdf:rest
                        |  |  |  |  |  |  |  |rdf:List
                        |  |  |  |  |  |  |  |  |rdf:first
                        |  |  |  |  |  |  |  |  |  |owl:Class
                        |  |  |  |  |  |  |  |  |rdf:rest
                        |  |  |  |  |  |  |  |  |  |rdf:nil
                        |  |  |owl:onProperty
                        |  |  |  |owl:ObjectProperty, owl:TransitiveProperty
                    </code></pre>
                </div>
            </div>
            <div class="code-fragment2">
                <div class="code-title">Flatten</div>
                <div class="code-box">
                    <pre><code>
                        <span class="input-indicator">// INPUT</span>
                        s4bldg:BuildingSpace rdfs:subClassOf [ rdf:type owl:Restriction ;
                                       owl:onProperty s4bldg:isSpaceOf ;
                                       owl:allValuesFrom [ rdf:type owl:Class ;
                                                           owl:unionOf ( s4bldg:Building
                                                                         s4bldg:BuildingSpace
                                                                       )
                                                         ]
                                     ]
                    </code></pre>
                </div>
                <div class="arrow">&#8595;</div>
                <div class="code-box">
                    <pre><code>
                        <span class="input-indicator">// OUTPUT</span>
                        Pattern 16 
                        owl:Class
                          |rdfs:subClassOf
                          |  |owl:Restriction
                          |  |  |owl:allValuesFrom
                          |  |  |  |owl:Class
                          |  |  |  |  |owl:unionOf
                          |  |  |owl:onProperty
                          |  |  |  |owl:ObjectProperty, owl:TransitiveProperty
                    </code></pre>
                </div>
            </div>
            
        </div>
        <div >
            <button id="modal-submit3">Save</button>
            <button id="go-back3">Go back</button>
        </div>
    </div>
</div>



<!--Ventana de confirmación
<div id="confirmSelect" class="modal">
    <div class="modal-content">
        <h2 class="modal-title">These are the options you have selected</h2>
        <div class="selection-summary">
            <p>Patterns:<strong> <span id="patterns-value"></span></strong></p>
            <p>Flatten:<strong> <span id="flatten-value"></span></strong></p>
        </div>
        <br>
        <div class="button-group">
            <button id="continue-btn" class="action-btn">Continue</button>
            <button id="edit-btn" class="action-btn">Edit</button>
        </div>
    </div>
</div>
 -->










    


    <!--Descriptions about web-->
    <!-- <section class="row">
        <div class="column">
            <img src="static/images/clock.png" alt="Imagen 1" class="imagen-pequena">
            <h5>Quick and easy.</h5>
            <p>Drag and drop the files onto the page and click the generate button.</p>
        </div>
        <div class="column">
            <img src="static/images/security.png" alt="Imagen 2" class="imagen-pequena">
            <h5>Guaranteed security.</h5>
            <p>Secure file transfers.</p>
        </div>
        <div class="column">
            <img src="static/images/compatibility.png" alt="Imagen 3" class="imagen-pequena">
            <h5>Compatibility.</h5>
            <p>The tool works with different formats and sizes of ontologies.</p>
        </div>
    </section> -->
    
    


    
    <!--Error Report-->

    <section id="error-report" class="pt-3 px-5" style="display: none;">
        <div class="container">
            <h4>Error Reporting</h4>

            <!--Download the xml file with the marked errors-->
            <div id="xml-errors" style="display: none;">
                <p>You can download an xml file with the errors marked in red:</p>
                <button class="btn mt-2 drag-button" id="download-xml-errors">Download XML file report</button>
            </div>

            <!--Namespaces-->
            <div id="new-namespaces" style="display: none;">
                <p>The following namespaces were found in the ontology but not in the namespace declaration block. We created new namespaces
                    that are listed bellow, please check them:
                </p>
                <div id="textNamespaces"></div>
            </div>
            

            <!--Errors-->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item" id="concepts-item" style="display: none;">
                    <h2 class="accordion-header" id="heading01">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#concepts">
                            Concepts
                        </button>
                    </h2>
                    <div id="concepts" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="concepts-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="attributes-item" style="display: none;">
                    <h2 class="accordion-header" id="heading02">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#attributes">
                            Attributes
                        </button>
                    </h2>
                    <div id="attributes" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="attributes-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="arrows-item" style="display: none;">
                    <h2 class="accordion-header" id="heading03">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#arrows">
                            Arrows
                        </button>
                    </h2>
                    <div id="arrows" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="arrows-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="ellipses-item" style="display: none;">
                    <h2 class="accordion-header" id="heading04">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ellipses">
                            Ellipses
                        </button>
                    </h2>
                    <div id="ellipses" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="ellipses-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="namespaces-item" style="display: none;">
                    <h2 class="accordion-header" id="heading05">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#namespaces">
                            Namespaces
                        </button>
                    </h2>
                    <div id="namespaces" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="namespaces-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="metadata-item" style="display: none;">
                    <h2 class="accordion-header" id="heading06">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#metadata">
                            Metadata
                        </button>
                    </h2>
                    <div id="metadata" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="metadata-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="rhombuses-item" style="display: none;">
                    <h2 class="accordion-header" id="heading07">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#rhombuses">
                            Rhombuses
                        </button>
                    </h2>
                    <div id="rhombuses" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="rhombuses-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="individual-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#individual">
                            Individuals
                        </button>
                    </h2>
                    <div id="individual" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="individual-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="hexagons-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#hexagons">
                            Hexagons
                        </button>
                    </h2>
                    <div id="hexagons" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="hexagons-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="cardinalityRestrictions-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cardinalityRestrictions">
                            Cardinality Restrictions
                        </button>
                    </h2>
                    <div id="cardinalityRestrictions" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="cardinalityRestrictions-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="intersectionOf-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#intersectionOf">
                            Intersections
                        </button>
                    </h2>
                    <div id="intersectionOf" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="intersectionOf-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="oneOf-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#oneOf">
                            Enumerations
                        </button>
                    </h2>
                    <div id="oneOf" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="oneOf-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="complementOf-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#complementOf">
                            Complements
                        </button>
                    </h2>
                    <div id="complementOf" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="complementOf-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="unionOf-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#unionOf">
                            Unions
                        </button>
                    </h2>
                    <div id="unionOf" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="unionOf-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="relation-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#relation">
                            Relations
                        </button>
                    </h2>
                    <div id="relation" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="relation-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="syntax-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#syntax">
                            Syntax
                        </button>
                    </h2>
                    <div id="syntax" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="syntax-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="base-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#base">
                            Base
                        </button>
                    </h2>
                    <div id="base" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="base-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="ontology-uri-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ontology-uri">
                            Ontology uri
                        </button>
                    </h2>
                    <div id="base" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="ontology-uri-body">
                        </div>
                    </div>
                </div>

                <div class="accordion-item" id="server-error-item" style="display: none;">
                    <h2 class="accordion-header" id="heading08">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#server-error">
                            Server Error
                        </button>
                    </h2>
                    <div id="server-error" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="server-error-body">
                        </div>
                    </div>
                </div>

            </div>
            

        </div>
    </section>

    <!--Footer-->
    <footer class="footer py-2">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col">
                    <img id="logo" src="static/images/logo.png" alt="Logo">             
                </div>
                <div class="col-3 ms-auto" style="margin-top: 20px;">
                    <a href="https://oeg.fi.upm.es/" target="_blank"><img class="footer-logo" src="static/images/oeg-logo.gif" alt=""></a>
                    <a id="fi-logo" href="https://www.fi.upm.es/" target="_blank"><img class="footer-logo" src="static/images/fi-logo.png" alt=""></a>
                    <a href="https://www.upm.es/" target="_blank"><img class="footer-logo" src="static/images/upm-logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="static/js/web_fun.js"></script>

</body>
</html>